HAPROXY_SSL_CERTIFICATE=/run/secrets/haproxy_ssl_certificate
HAPROXY_CONFIG=/etc/haproxy/haproxy-http.cfg
HAPROXY_HOST_NAMES=www.app.local app.local localhost.localdomain

VARNISH_MAX_THREADS=2000
VARNISH_MIN_THREADS=100
VARNISH_OPTIONS=
VARNISH_STORAGE=malloc,256M
VARNISH_THREAD_TIMEOUT=120
VARNISH_TTL=120
VARNISH_VARNISHNCSA_FORMAT=%h %l %u %t "%r" %s %b "%{Referer}i" "%{User-Agent}i"
VARNISH_VARNISHNCSA_OPTIONS=
VARNISH_VCL_CONF=/etc/varnish/docker-default.vcl
