#---------------------------------------------------------------------
# Example configuration for a possible web application.
#---------------------------------------------------------------------

global
    user haproxy
    group haproxy
    log 127.0.0.1 local2
    chroot /var/lib/haproxy
    stats socket /var/lib/haproxy/stats mode 0600 level admin
    maxconn 16384
    nbproc 1
    spread-checks 4
    tune.bufsize 16384
    tune.maxaccept 192
    tune.maxrewrite 1024
    tune.ssl.default-dh-param 2048
    tune.ssl.cachesize 320000
    tune.ssl.lifetime 300
    tune.ssl.maxrecord 1419
    tune.zlib.memlevel 9

    # SSL is CPU intensive - rate limit to avoid failures
    maxsslrate 144
    ssl-default-bind-ciphers ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!DSS
    ssl-default-bind-options no-sslv3 no-tls-tickets
    ssl-default-server-ciphers ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!DSS
    ssl-default-server-options no-sslv3 no-tls-tickets

#---------------------------------------------------------------------
# Global Defaults
#---------------------------------------------------------------------

defaults
    log global
    mode http
    option httplog
    option dontlognull
    option dontlog-normal
    option abortonclose
    option http-server-close
    option forwardfor except 127.0.0.0/8
    option redispatch
    retries 3
    timeout connect 5s
    timeout client 40s
    timeout server 40s
    timeout queue 120s
    timeout http-request 4s
    timeout http-keep-alive 15s
    timeout check 15s

    default-server maxconn 64

    # stats enable
    # stats refresh 5s
    # stats hide-version
    # stats uri /haproxy?stats

#---------------------------------------------------------------------
# Frontends
#---------------------------------------------------------------------

frontend http
    bind 0.0.0.0:80 nice 15
    default_backend http-pool-1
    maxconn 10240
    backlog 10240
    rate-limit sessions 2048

    # Force HTTPS
    # redirect scheme https code 301 if !{ ssl_fc }

frontend https
    # bind 0.0.0.0:443 nice 30 ssl crt strict-sni /etc/pki/tls/certs/sni/
    bind 0.0.0.0:443 nice 30 ssl crt /etc/pki/tls/certs/sni/
    default_backend https-pool-1
    maxconn 10240
    backlog 10240

    # SSL is CPU intensive - rate limit to avoid failures
    rate-limit sessions 144

#---------------------------------------------------------------------
# Backends
#---------------------------------------------------------------------

backend http-pool-1
    option httpchk HEAD / HTTP/1.0\r\nUser-Agent:\ HAProxy
    option forwardfor
    http-request del-header X-Forwarded-Port
    http-request del-header X-Forwarded-Proto
    reqadd X-Forwarded-Port:\ 80
    reqadd X-Forwarded-Proto:\ http
    balance roundrobin
    fullconn 10240

    server 1-1 ${HAPROXY_SERVER_ADDRESS_1}:8080 port 8080 check
    server 2-1 ${HAPROXY_SERVER_ADDRESS_1}:8081 port 8081 check
    server 3-1 ${HAPROXY_SERVER_ADDRESS_1}:8082 port 8082 check
    # server 4-1 ${HAPROXY_SERVER_ADDRESS_1}:8083 port 8083 check
    # server 5-1 ${HAPROXY_SERVER_ADDRESS_1}:8084 port 8084 check
    # server 6-1 ${HAPROXY_SERVER_ADDRESS_1}:8085 port 8085 check

    # cookie http-pool-1 insert indirect nocache httponly
    # server 1-1 ${HAPROXY_SERVER_ADDRESS_1}:8080 port 8080 cookie 1-1 check
    # server 2-1 ${HAPROXY_SERVER_ADDRESS_1}:8081 port 8081 cookie 2-1 check
    # server 3-1 ${HAPROXY_SERVER_ADDRESS_1}:8082 port 8082 cookie 3-1 check
    # server 4-1 ${HAPROXY_SERVER_ADDRESS_1}:8083 port 8083 cookie 4-1 check
    # server 5-1 ${HAPROXY_SERVER_ADDRESS_1}:8084 port 8084 cookie 5-1 check
    # server 6-1 ${HAPROXY_SERVER_ADDRESS_1}:8085 port 8085 cookie 6-1 check

backend https-pool-1
    option httpchk HEAD / HTTP/1.0\r\nUser-Agent:HAProxy
    option forwardfor
    http-request del-header X-Forwarded-Port
    http-request del-header X-Forwarded-Proto
    reqadd X-Forwarded-Port:\ 443
    reqadd X-Forwarded-Proto:\ https
    # rspadd  Strict-Transport-Security:\ max-age=15768000
    balance roundrobin
    fullconn 10240

    server 1-1 ${HAPROXY_SERVER_ADDRESS_1}:8580 port 8580 check
    server 2-1 ${HAPROXY_SERVER_ADDRESS_1}:8581 port 8581 check
    server 3-1 ${HAPROXY_SERVER_ADDRESS_1}:8582 port 8582 check
    # server 4-1 ${HAPROXY_SERVER_ADDRESS_1}:8583 port 8583 check
    # server 5-1 ${HAPROXY_SERVER_ADDRESS_1}:8584 port 8584 check
    # server 6-1 ${HAPROXY_SERVER_ADDRESS_1}:8585 port 8585 check

    # server 1-1 ${HAPROXY_SERVER_ADDRESS_1}:8580 port 8580 ssl verify none check check-ssl
    # server 2-1 ${HAPROXY_SERVER_ADDRESS_1}:8581 port 8581 ssl verify none check check-ssl
    # server 3-1 ${HAPROXY_SERVER_ADDRESS_1}:8582 port 8582 ssl verify none check check-ssl
    # server 4-1 ${HAPROXY_SERVER_ADDRESS_1}:8583 port 8583 ssl verify none check check-ssl
    # server 5-1 ${HAPROXY_SERVER_ADDRESS_1}:8584 port 8584 ssl verify none check check-ssl
    # server 6-1 ${HAPROXY_SERVER_ADDRESS_1}:8585 port 8585 ssl verify none check check-ssl

    # cookie https-pool-1 insert indirect nocache httponly secure
    # server 1-1 ${HAPROXY_SERVER_ADDRESS_1}:8580 port 8580 cookie 1-1 check
    # server 2-1 ${HAPROXY_SERVER_ADDRESS_1}:8581 port 8581 cookie 2-1 check
    # server 3-1 ${HAPROXY_SERVER_ADDRESS_1}:8582 port 8582 cookie 3-1 check
    # server 4-1 ${HAPROXY_SERVER_ADDRESS_1}:8583 port 8583 cookie 4-1 check
    # server 5-1 ${HAPROXY_SERVER_ADDRESS_1}:8584 port 8584 cookie 5-1 check
    # server 6-1 ${HAPROXY_SERVER_ADDRESS_1}:8585 port 8585 cookie 6-1 check
